.container{
    display: block;
    width: 100%;
}
.inbox__people{
    float: left !important;
    /* background-color: steelblue; */
    margin: 5px;
    color: steelblue;
}
.inbox__messages{
    border-left: 5px steelblue;
    min-height: 700px;
}
.message_form{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
.message_form__input{
    font: 1em sans-serif;
    border: 3 solid salmon;
    float: right;
    position: relative;
    bottom: 5pm;
}

.message_form {
    resize: none;
    padding: 5px 10px;
    height: 40px;
    font-family: 'Lato', sans-serif;
      font-size: 14px;
    color: #999999;
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, .05);
     border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  
.message_form__input:focus, .message-send:focus {
    outline: none;
  }
  
.message-send::-moz-focus-inner {
      border:0;
      padding:0;
  }
  .message-send{
    float: right;
    min-height: 700px;
  }
  
  .messages__history{
    -webkit-appearance: none;
    background: #9cc900;
    background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
    background: linear-gradient(180deg, #00d8ff, #00b5d6);
    color: white;
    font-size: 12px;
    padding: 0 15px;
    border: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  }